* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.app {
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-wrapper {
    background-color: #ccc;
    display: flex;
    height: auto;
    padding: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
}

.picked-seats {
    padding-left: 2rem;
}

.cancel {
    color: blue;
    cursor: pointer;
}