* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
}

.rezervacia {
    padding-left: 1rem;
}

.rezervacia p span {
    color: blue;
    margin-left: 0.25rem;
    font-size: 0.8rem;
    cursor: pointer;
}